# Environment Variables (Crucial!)
.env

# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Debug Outputs & Results
debug_crops/
debug_*.py
debug_*.txt
pipeline_metrics.json
*.png
*.jpg
*.jpeg


# PaddleOCR Models & Cache
.paddlex/
inference/

# IDE Settings
.vscode/
.idea/

# Package Management
uv.lock
